.todoItem {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid rgb(179, 170, 170);
}

/* .todoItem input {
    margin-right: 1rem;
} */

/* if checkbox is checked, target adjacent span */
.todoItem input[type="checkbox"]:checked + span {
    opacity: 0.5;
    text-decoration: line-through;
}

.todoItem button {
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.todoItem button:hover {
    transform:scale(1.2);
}